/**
 * Pokemon HTML5 canvas game
 * @version 1.0.0
 * @author Panagiotis Vourtsis <vourtsis_pan@hotmail.com>
 */
 #map{
    margin: 0 auto;
    display: table;
}


#canvas{
    width: 600px;
    display: none;
}

.mute{
    display: table;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 35px;
    position: relative;
}

#mute{
    top:5px;
}

.volume{
    display: block;
    width: 100px;
    margin: 0 auto;
}

.volume p{
 text-align: center;
}

.mute.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

#menu.hidden{
    visibility: hidden;
}

#inicial{
    width: 430px;
    margin: 0 auto;
    top: 50px;
    position: relative;
}

#inicial h1{
   font-size: 35pt;
}

#inicial .titulo{
    top: 25px;
}

#inicial img{
    width: 100px;
}

#inicial .row div{
    float: left;
}

.salvar_game{
    cursor: pointer;
    width: 100px;
    float: left;
    left: 90px;
    position: relative;
    text-align: center;
    top: 6px;
}

.salvar_game img{
    width: 35px;
}
