/**
 * Pokemon HTML5 canvas game
 * @version 1.0.0
 * @author Panagiotis Vourtsis <vourtsis_pan@hotmail.com>
 */
 #map{
    margin: 0 auto;
    display: table;
}


#canvas{
    width: 600px;
    display: none;
}

.mute{
    display: table;
    margin: 0 auto;
    /* margin-top: 5px;*/
    margin-bottom: 5px;
    cursor: pointer;
    width: 35px;
    position: relative;
}

#mute{
    top:5px;
}

.volume{
    display: block;
    width: 100px;
    margin: 0 auto;
    float: right;
    /* right: 111px; */
    margin-right: 70px;
}

.volume p{
 text-align: center;
}

.mute.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;

}

#menu.hidden{
    visibility: hidden;
    width: 100%;
    float: left;
}

#menu{
    width: 100%;
    /* float: left; */
    top: 20px;
    /* margin-top: 56px; */
    /* position: relative; */
    /* display: inline-block; */
    display: inline-block;
}

#inicial{
    width: 430px;
    margin: 0 auto;
    top: 50px;
    position: relative;
    text-align: center;
}

#inicial h1{
   font-size: 35pt;
}

#inicial .titulo{
    top: 25px;
}

#inicial img{
    width: 100px;
}

#inicial .row div{
    float: left;
}

.salvar_game{
    cursor: pointer;
    width: 100px;
    float: left;
    right: left;
    position: relative;
    text-align: center;
    top: 7px;
    left: 57px;
}

.salvar_game img{
    width: 35px;
}


.ajuda {
    cursor: pointer;
    width: 100px;
    float: right;
    right: 135px;
    position: relative;
    text-align: center;
    top: 6px;
}

.ajuda img{
    width: 35px;
}
